
@{
    ViewBag.Title = "EditHotelDetails";
}
 @using  PlanItGirls.Models
@model PlanItGirls.Models.Lodge


<h2>Edit Hotel Details</h2>

<form action="SaveUpdateHotel" method="post">
    <input type="hidden" value="@Model.Lodging" name="Lodging" />
    <input type="hidden" value="@Model.Price" name="Price" />
    <input type="hidden" value="@Model.Address" name="Address" />
    <input type="hidden" value="@Model.City" name="City" />
    <input type="hidden" value="@Model.State" name="State" />
    <input type="hidden" value="@Model.PostalCode" name="PostalCode" />
    <input type="hidden" value="@Model.PhoneNumber" name="PhoneNumber" />
    <input type="hidden" value="@Model.URL" name="URL" />
    <input type="hidden" value="@Model.TripID" name="TripID" />

    Current number of nights selected for this hotel: @Model.NumberOfNights
    <select name="NumberOfNights">
        @for (int i = 1; i <= @ViewBag.DayDiff; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
    <input type="submit" value="Number of Nights" />
</form>

