
@{
    ViewBag.Title = "TripBudgetCalculator";
}
@using PlanItGirls.Models;

<h2>Budget Calculator</h2>


Distance: @ViewBag.DistanceBetweenCities




<table class="table">
    <tr>
        <th>Distance</th>
        <th>Avg price per mile</th>
        <th>Cost: One-Way</th>
        <th>Cost: Round Trip</th>
        <th>New balance</th>
    </tr>
    <tr>
        <th>@ViewBag.DistanceBetweenCities miles</th>
        <th>$@ViewBag.drivePrice</th>
        <th>$@ViewBag.oneWay</th>
        <th>$@ViewBag.travelBudget</th>
    </tr>
</table>


<h2>Select your Options</h2>
<table class="table">
    <tr>
        <th>Hotel Price Point</th>
        <td>
            <form action="../Home/TripBudgetCalculator" method="get">
                <select name="hotelPricePoint">
                    <option value="0">---</option>
                    <option value="1">$</option>
                    <option value="2">$$</option>
                    <option value="3">$$$</option>
                    <option value="4">$$$$</option>
                </select>
                <input type="submit" value="Price Range" />
            </form>
        </td>
    </tr>
    @if (ViewBag.Hotels is null)
    {
        <tr>
            <th>Hotel Selection</th>
            <td>@ViewBag.Fact</td>
        </tr>
        <tr>
            <td>$: approximately $80</td>
        </tr>
        <tr>
            <td>$$: approximately $150</td>
        </tr>
        <tr>
            <td>$$$: approximately $225</td>
        </tr>
        <tr>
            <td>$$$$: approximately $350</td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                <form action="../Home/TripBudgetCalculator" method="get">
                    <select name="HotelSelection">
                        @for (int i = 0; i < ViewBag.Hotels["businesses"].Count; i++)
                        {
                            <option value="@ViewBag.Hotels["businesses"][i]">@ViewBag.Hotels["businesses"][i]["name"]</option>
                        }
                    </select>
                    <input type="submit" value="Select Hotel" />
                </form>
            </td>
            @if (ViewBag.HotelSelection != null)
            {
                <td>
                    <img src="@ViewBag.HotelSelection["image_url"]" alt="Hotel Image" height="75" />
                </td>
                <td>
                    <form action="../Home/TripBudgetCalculator" method="get">
                        <select name="NumberOfNights">
                            @for (int i = 1; i <= @ViewBag.DayDiff; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <input type="submit" value="Number of Nights" />
                    </form>
                </td>
            }
        </tr>
        <tr>
            <th>Price per Day</th>
            <td>$@ViewBag.PricePerDay</td>
        </tr>
        <tr>
            <th>Length of Stay</th>
            <td>@ViewBag.NumberOfNights</td>
        </tr>
        <tr>
            <th>Total Price of Stay</th>
            <td>$@ViewBag.TotalHotelBudget</td>
        </tr>
        <tr>
            <th>Adjusted Budget</th>
            <td>$@ViewBag.AdjustedTotalBudget</td>
        </tr>
    }
    </table>
<table class="table">
    <tr>
        <th>Meal Selections</th>
        <td>
            <form action="../Home/TripBudgetCalculator" method="get">
                <select name="restaurantPricePoint">
                    <option value="0">---</option>
                    <option value="1">$</option>
                    <option value="2">$$</option>
                    <option value="3">$$$</option>
                    <option value="4">$$$$</option>
                </select>
                <input type="submit" value="Price Range" />
            </form>
        </td>
    </tr>
    @if (ViewBag.Restaurants is null)
    {
        <tr>
            <th>Restaurant Selection</th>
            <td>@ViewBag.Fact</td>
        </tr>
        <tr>
            <td>$: approximately $10 per meal</td>
        </tr>
        <tr>
            <td>$$: approximately $35 per meal</td>
        </tr>
        <tr>
            <td>$$$: approximately $60 per meal</td>
        </tr>
        <tr>
            <td>$$$$: approximately $100 per meal</td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                <form action="../Home/TripBudgetCalculator" method="get">
                    <select name="RestaurantSelection">
                        @for (int i = 0; i < ViewBag.Restaurants["businesses"].Count; i++)
                        {
                            <option value="@ViewBag.Restaurants["businesses"][i]">@ViewBag.Restaurants["businesses"][i]["name"]</option>
                        }
                    </select>
                    <input type="submit" value="Select Restaurant" />
                </form>
            </td>
            @if (ViewBag.RestaurantSelection != null)
            {
                <td>
                    <img src="@ViewBag.RestaurantSelection["image_url"]" alt="Restaurant Image" height="75" />
                </td>
                <td>
                    <form action="../Home/TripBudgetCalculator" method="get">
                        <select name="NumberOfMeals">
                            @for (int i = 1; i <= @ViewBag.DayDiff*2; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <input type="submit" value="Number of Meals" />
                    </form>
                </td>
            }
        </tr>
        <tr>
            <th>Price per Day</th>
            <td>$@ViewBag.PricePerMeal</td>
        </tr>
        <tr>
            <th>Length of Stay</th>
            <td>@ViewBag.NumberOfMeals</td>
        </tr>
        <tr>
            <th>Total Price of Stay</th>
            <td>$@ViewBag.TotalRestaurantBudget</td>
        </tr>
        <tr>
            <th>Adjusted Budget</th>
            <td>$@ViewBag.AdjustedRestaurantTotalBudget</td>
        </tr>
    }
</table>


