
@{
    ViewBag.Title = "TripBudgetCalculator";
}
@using PlanItGirls.Models;

<h2>Budget Calculator</h2>

<h1>@ViewBag.DayDiff</h1>

Distance: @ViewBag.DistanceBetweenCities




<table class="table">
    <tr>
        <th>Distance</th>
        <th>Avg price per mile</th>
        <th>Cost: One-Way</th>
        <th>Cost: Round Trip</th>
        <th>New balance</th>
    </tr>
    <tr>
        <th>@ViewBag.DistanceBetweenCities miles</th>
        <th>$@ViewBag.drivePrice</th>
        <th>$@ViewBag.oneWay</th>
        <th>$@ViewBag.roundTrip</th>
        <th>$@ViewBag.newBudget</th>
    </tr>
</table>

<h2>Select your Options</h2>
<table class="table">
    <tr>
        <th>Price Point</th>
        <td>
            <form action="../Home/TripBudgetCalculator" method="get">
                <select name="pricePoint">
                    <option value="0">---</option>
                    <option value="1">$</option>
                    <option value="2">$$</option>
                    <option value="3">$$$</option>
                    <option value="4">$$$$</option>
                </select>
                <input type="submit" value="Price" />
            </form>
        </td>
    </tr>
    <tr>
        <th>Hotel Selection</th>
        <td>
            <form action="../Home/TripBudgetCalculator" method="get">
                <select name="Hotel">
                    @if (ViewBag.Hotels is null)
                    {
                        @ViewBag.Fact
                    }
                    else
                    {
                        for (int i = 0; i < ViewBag.Hotels["businesses"].Count; i++)
                        {
                            <option value="@ViewBag.Hotels["businesses"][i]["name"]">@ViewBag.Hotels["businesses"][i]["name"]</option>
                        }
                    }
                </select>
                </form>
        </td>
        <td>
            @ViewBag.newBudget
        </td>
    </tr>
</table>

