 
@{
    ViewBag.Title = "TripList";
}

<h2>Your Trip List</h2>


<table class="table" >
    <tr class="ListHeadings">
        <th >Trip Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Start Location</th>
        <th>End Location</th>
        <th>Budget</th>
        <th></th>
        <th>Additional Options</th>
        <th></th>
    </tr>

    @foreach (var trip in ViewBag.userTrips)
    {

    <tr>
        <td>@trip.TripID</td>
        <td>@trip.StartDate</td>
        <td>@trip.EndDate</td>
        <td>@trip.StartCity, @trip.StartState</td>
        <td>@trip.EndCity, @trip.EndState</td>
        <th class="Price">$@trip.Price</th>
        <th><a href="/Home/TripBudgetCalculator?TripID=@trip.TripID"><input type="submit" class="budget" value="Trip Options" /></a></th>
        <th><a href="/Database/DeleteTrip?TripID=@trip.TripID"><input type="submit" class="budget" value="Delete Trip" /></a></th>
        <th><a href="/Database/EditTripDetails?TripID=@trip.TripID"><input type="submit"  class="budget" value="Edit Trip" /></a></th>

    </tr>   

    }
</table>
