
@{
    ViewBag.Title = "TripSummary";
}
<h2 align="center">@ViewBag.currentTrip.TripID Summary</h2><br />


<h4 align="center">Hotel Selections</h4><br />
<div class="container">
    <div class="row">
        @if (ViewBag.currentTrip.Lodges != null)
        {
            foreach (var Lodge in ViewBag.currentTrip.Lodges)
            {
                <div class="col-sm-4">
                    <h5>
                        @Lodge.Lodging
                    </h5>
                    <h6>
                        @Lodge.Address
                    </h6>
                    <h6>
                        @Lodge.City, @Lodge.State @Lodge.PostalCode
                    </h6>
                    <h6>
                        @Lodge.PhoneNumber
                    </h6>
                    <h6>
                        <a href="@Lodge.URL">See this Hotel's Yelp Page</a>
                    </h6>
                    <h6>
                        $@Lodge.Price per Night
                    </h6>
                    <h6>
                        @Lodge.NumberOfNights nights
                    </h6>
                    <h6>
                        $@(Lodge.Price * Lodge.NumberOfNights) for this Hotel
                    </h6>
                    <h6>
                        <a href="/Database/DeleteHotel?Lodging=@Lodge.Lodging" class="budget">Delete</a><br /><br />
                    </h6>
                    <h6>
                        <a href="/Database/EditHotelDetails?Lodging=@Lodge.Lodging" class="budget">Edit</a>
                    </h6>
                </div>
            }
            <h5>You have reserved @ViewBag.reservedNights nights.</h5>

        }
        else
        {
            <div class="col-sm-12">
                <h3>You have not selected any hotels!</h3>
            </div>
        }
    </div>
</div>
<br /><br />


<h4 align="center">Restaurant Selections</h4><br />
<div class="container">
    <div class="row">
        @if (ViewBag.currentTrip.Foods != null)
        {
            foreach (var restaurant in ViewBag.currentTrip.Foods)
            {
                <div class="col-sm-4">
                    <h5>
                        @restaurant.Restaurant
                    </h5>
                    <h6>
                        @restaurant.Address
                    </h6>
                    <h6>
                        @restaurant.City, @restaurant.State @restaurant.PostalCode
                    </h6>
                    <h6>
                        @restaurant.PhoneNumber
                    </h6>
                    <h6>
                        <a href="@restaurant.URL" button="budget">See this Restaurant's Yelp Page</a>
                    </h6>
                    <h6>
                        $@restaurant.Price per Meal
                    </h6>
                    <h6>
                        @restaurant.NumberOfMeals meals
                    </h6>
                    <h6>
                        $@(restaurant.Price * restaurant.NumberOfMeals) for this Restaurant
                    </h6>
                    <h6>
                        <a href="/Database/DeleteRestaurant?Restaurant=@restaurant.Restaurant" class="budget">Delete</a><br /><br />
                    </h6>
                    <h6>
                        <a href="/Database/EditRestaurantDetails?Restaurant=@restaurant.Restaurant" class="budget">Edit</a>
                    </h6>
                </div>
            }
            <h5>You have signed up for @ViewBag.reservedMeals meals.</h5>

        }
        else
        {
            <div class="col-sm-12">
                <h3>You have not selected any restaurants!</h3>
            </div>
        }
    </div>
</div><br /><br />


<h4 align="left">
    <a href="/Home/TripBudgetCalculator"><input type="submit" class="budget" value="Add restaurants or hotels" /></a>
</h4><br /><br />

<div class="container">
    <h4 align="center">Budget Summary</h4>
    <div class="row">
        <div>
            <h5>Total Budget: $@ViewBag.currentTrip.Price</h5>
            <h5>Total Spent on Hotels: $@ViewBag.HotelBudget</h5>
            <h5>Total Spent on Meals: $@ViewBag.RestaurantBudget</h5>
            <h5>Total Spent on Travel: $@ViewBag.CarBudget</h5>
            <h5>Combined Total: $@ViewBag.totalDeductedBudget</h5>
            <h5>Budget Remaining: $@ViewBag.remainingBudget</h5>
        </div>
    </div>
</div>

<h4 align="center">Events Happening while you're in town</h4>
<div class="container">
    <div class="row">
        @for (int i = 0; i < ViewBag.EventOptions.Count; i++)
        {
            <div class="col-sm-12">
                <h6>
                    @ViewBag.EventOptions[i]["name"]
                </h6>
                <h7>
                    @ViewBag.EventOptions[i]["description"]

                </h7>
                <h7>
                    @ViewBag.EventOptions[i]["time_start"]
                </h7>
                <h7>
                    @ViewBag.EventOptions[i]["time_end"]
                </h7>
                <h7>
                    @ViewBag.EventOptions[i]["location"]["address1"],  @ViewBag.EventOptions[i]["location"]["state"]  @ViewBag.EventOptions[i]["location"]["zip_code"]
                </h7>

                <h7>
                    <a href="@ViewBag.EventOptions[i]["event_site_url"]">See this Event's Yelp Page</a>
                </h7>
                <h7>
                    <a href="@ViewBag.EventOptions[i]["tickets_url"]">Book tickets here</a>
                </h7>
            </div>
        }
    </div>
</div>
