
@{
    ViewBag.Title = "TripBudgetCalculator";
}
@using PlanItGirls.Models;

<h2>Budget Calculator</h2>

<h1>@ViewBag.DayDiff</h1>

Distance: @ViewBag.DistanceBetweenCities




<table class="table">
    <tr>
        <th>Distance</th>
        <th>Avg price per mile</th>
        <th>Cost: One-Way</th>
        <th>Cost: Round Trip</th>
        <th>New balance</th>
    </tr>
    <tr>
        <th>@ViewBag.DistanceBetweenCities miles</th>
        <th>$@ViewBag.drivePrice</th>
        <th>$@ViewBag.oneWay</th>
        <th>$@ViewBag.roundTrip</th>
        <th>$@ViewBag.travelBudget</th>
    </tr>
</table>


<h2>Select your Options</h2>
<table class="table">
    <tr>
        <th>Hotel Price Point</th>
        <td>
            <form action="../Home/TripBudgetCalculator" method="get">
                <select name="hotelPricePoint">
                    <option value="0">---</option>
                    <option value="1">$</option>
                    <option value="2">$$</option>
                    <option value="3">$$$</option>
                    <option value="4">$$$$</option>
                </select>
                <input type="submit" value="Price Range" />
            </form>
        </td>
    </tr>
    @if (ViewBag.Hotels is null)
    {
        <tr>
            <th>Hotel Selection</th>
            <td>@ViewBag.Fact</td>
        </tr>
        <tr>
            <td>$: approximately $80</td>
        </tr>
        <tr>
            <td>$$: approximately $150</td>
        </tr>
        <tr>
            <td>$$$: approximately $225</td>
        </tr>
        <tr>
            <td>$$$$: approximately $350</td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                <form action="../Home/TripBudgetCalculator" method="get">
                    <select name="Hotel">
                        @for (int i = 0; i < ViewBag.Hotels["businesses"].Count; i++)
                        {
                            <option value="@ViewBag.Hotels["businesses"][i]["name"]">@ViewBag.Hotels["businesses"][i]["name"]</option>
                        }
                    </select>
                    <input type="submit" value="Select Hotel" />
                </form>
            </td>
        </tr>
        <tr>
            <th>Price per Day</th>
            <td>$@ViewBag.hotelPrice</td>
        </tr>
        <tr>
            <th>Adjusted Budget</th>
            <td>$@ViewBag.hotelBudget</td>
        </tr>
    }
    <tr>
        <th>Restaurant Price Point</th>
        <td>
            <form action="../Home/TripBudgetCalculator" method="get">
                <select name="restaurantPricePoint">
                    <option value="0">---</option>
                    <option value="1">$</option>
                    <option value="2">$$</option>
                    <option value="3">$$$</option>
                    <option value="4">$$$$</option>
                </select>
                <input type="submit" value="Price Range" />
            </form>
        </td>
    </tr>
    @if (ViewBag.Restaurants is null)
    {
        <tr>
            <th>Restaurant Selection</th>
            <td>@ViewBag.Fact</td>
        </tr>
        <tr>
            <td>$ approximately $10</td>
        </tr>
        <tr>
            <td>$$ approximately $35</td>
        </tr>
        <tr>
            <td>$$$ approximately $60</td>
        </tr>
        <tr>
            <td>$$$$ approximately $100</td>
        </tr>
    }
    else
    {
        <tr>
            <td>
                <form action="../Home/TripBudgetCalculator" method="get">
                    <select name="Restaurant">
                        @for (int i = 0; i < ViewBag.Restaurants["businesses"].Count; i++)
                        {
                            <option value="@ViewBag.Restaurants["businesses"][i]["name"]">@ViewBag.Restaurants["businesses"][i]["name"]</option>
                        }
                    </select>
                    <input type="submit" value="Select Restaurant" />
                </form>
            </td>
        </tr>
        <tr>
            <th>Price per Day</th>
            <td>$@ViewBag.restaurantPrice</td>
        </tr>
        <tr>
            <th>Adjusted Budget</th>
            <td>$@ViewBag.restaurantBudget</td>
        </tr>
    }
    <tr>
        <th>Event Options</th>
    </tr>
    @if (ViewBag.Events is null)
    {
        <tr>
            <th>Restaurant Selection</th>
            <td>@ViewBag.Fact</td>
        </tr>
    }
    else
    {
        for (int i = 0; i < ViewBag.Events["events"].Count; i++)
        {
        <tr>
            <td>
                @ViewBag.Events["events"][i]["description"]
            </td>
            <td>
                <a href="@ViewBag.Events["events"][i]["event_site_url"]">See more about this event here</a>
            </td>
        </tr>
            
        }
    }
</table>


