
@{
    ViewBag.Title = "TripBudgetCalculator";
}
@using PlanItGirls.Models;

<h2 align="left">Budget Calculator</h2>



<div class="container" id="budget">
    <div class="row">
        <div class="col-sm-4">


            <h4>Vehicle Options</h4>
            <form action="/Home/TripBudgetCalculator" method="get">
                Select Car Type: <select name="VehicleSelection">
                    <option value="0">---</option>
                    <option value=".46">Car</option>
                    <option value=".59">Crossover</option>
                    <option value=".65">Minivan</option>
                    <option value=".72">Suv/Truck</option>
                </select>
            </form>

            @if (ViewBag.GasPrice != null)
            {
                <h5>
                    Price Per Mile:
                </h5>
                <h6>
                    $@ViewBag.GasPrice
                </h6>
                <h5>
                    Miles between Cities:
                </h5>
                <h6>
                    @ViewBag.DistanceBetweenCities
                </h6>
                <h5>
                    Cost each way:
                </h5>
                <h6>
                    @ViewBag.oneWayCost
                </h6>
                <h5>
                    AdjustedBudget:
                </h5>
                <h6>
                    @ViewBag.travelBudget
                </h6>
            }

            else if (ViewBag.GasPrice is null)
            {
                <h6>
                    @ViewBag.SelectVehicle
                </h6>
                <h5>
                    Approx. Gas Mileage
                </h5>
                <h6>
                    Car: 29MPG($.46 per mile)
                </h6>
                <h6>
                    Crossover: 23MPG($.59 per mile)
                </h6>
                <h6>
                    Minivan: 19MPG($.65 per mile)
                </h6>
                <h6>
                    Suv / Truck: 16MPG($.72 per mile)
                </h6>
            }

            <h5>
                Remaining Budget: $@ViewBag.currentTrip.Price
            </h5>
            <form action="../Database/EditCarOption">
                <input type="submit" value="Save This Car" />
            </form>
        </div>
        <br /><br />
        <div class="col-sm-4">
            <h4>Hotel Options</h4>
            <form action="../Home/TripBudgetCalculator" method="get">
                Select Hotel Price: <select name="hotelPricePoint">
                    <option value="0">---</option>
                    <option value="80">$</option>
                    <option value="150">$$</option>
                    <option value="225">$$$</option>
                    <option value="350">$$$$</option>
                </select>
                <input type="submit" value="See Options" class="budget" />
            </form>
            @if (ViewBag.Hotels is null)
            {
                <h6>@ViewBag.Fact</h6>
                <h5>
                    Approx.Hotel Costs
                </h5>
                <h6>
                    $: $80 per night
                </h6>
                <h6>
                    $$: $150 per night
                </h6>
                <h6>
                    $$$: $225 per night
                </h6>
                <h6>
                    $$$$: $350 per night
                </h6>
                <h5>
                    Remaining Budget: $@ViewBag.currentTrip.Price
                </h5>
            }
            else
            {

                <form action="../Home/TripBudgetCalculator" method="get">
                    <select name="HotelSelection">
                        @for (int i = 0; i < ViewBag.Hotels["businesses"].Count; i++)
                        {
                            <option value="@ViewBag.Hotels["businesses"][i]">@ViewBag.Hotels["businesses"][i]["name"]</option>
                        }
                    </select>
                    <input type="submit" value="Select Hotel" class="budget" />
                </form>
                if (ViewBag.HotelSelection != null)
                {
                    <img src="@ViewBag.HotelSelection["image_url"]" alt="Hotel Image" height="75" />

                    <form action="../Home/TripBudgetCalculator" method="get">
                        <select name="NumberOfNights">
                            @for (int i = 1; i <= @ViewBag.DayDiff; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <input type="submit" value="Number of Nights" class="budget" />
                    </form>

                    <h5>Remaining Budget:</h5>
                    <h6>
                        @ViewBag.travelBudget
                    </h6>
                }

                <h5>
                    Price per Day
                </h5>
                <h6>
                    $@ViewBag.PricePerDay
                </h6>
                <h5>
                    Length of Stay
                </h5>
                <h6>
                    @ViewBag.NumberOfNights
                </h6>
                <h5>
                    Total Price of Stay
                </h5>
                <h6>
                    $@ViewBag.TotalHotelBudget
                </h6>
                <h5>
                    Adjusted Budget
                </h5>
                <h6>
                    $@ViewBag.AdjustedTotalBudget
                </h6>
            }
            <form action="../Database/SaveHotelOption">
                <input type="submit" value="Save This Hotel" class="budget" />
            </form>
        </div>

        <div class="col-sm-4">
            <h4>Restaurant Options</h4>
            <form action="../Home/TripBudgetCalculator" method="get">
                Select Meal Price: <select name="RestaurantPricePoint">
                    <option value="0">---</option>
                    <option value="10">$</option>
                    <option value="35">$$</option>
                    <option value="60">$$$</option>
                    <option value="100">$$$$</option>
                </select>
                <input type="submit" value="See Options" class="budget" />
            </form>
            @if (ViewBag.Restaurants is null)
            {
                <h7>@ViewBag.MealFact</h7>
                <h8>
                    Approx. Meal Costs
                </h8>
                <h8>
                    $: $10 per meal
                </h8>
                <h8>
                    $$: $35 per night
                </h8>
                <h8>
                    $$$: $60 per night
                </h8>
                <h8>
                    $$$$: $100 per night
                </h8>
                <h5>
                    Remaining Budget: $@ViewBag.AdjustedTotalBudget
                </h5>
            }
            else
            {

                <form action="../Home/TripBudgetCalculator" method="get">
                    <select name="RestaurantSelection">
                        @for (int i = 0; i < ViewBag.Restaurants["businesses"].Count; i++)
                        {
                            <option value="@ViewBag.Restaurants["businesses"][i]">@ViewBag.Restaurants["businesses"][i]["name"]</option>
                        }
                    </select>
                    <input type="submit" value="Select Restaurant" />
                </form>
                if (ViewBag.RestaurantSelection != null)
                {
                    <img src="@ViewBag.RestaurantSelection["image_url"]" alt="Restaurant Image" height="75" />

                    <form action="../Home/TripBudgetCalculator" method="get">
                        <select name="NumberOfMeals">
                            @for (int i = 1; i <= @ViewBag.DayDiff * 3; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <input type="submit" value="Number of Meals" class="budget" />
                    </form>

                    <h5>Remaining Budget:</h5>
                    <h6>
                        @ViewBag.AdjustedTotalBudget
                    </h6>
                }

                <h5>
                    Price per Meal
                </h5>
                <h6>
                    $@ViewBag.PricePerMeal
                </h6>
                <h5>
                    Length of Stay
                </h5>
                <h6>
                    @ViewBag.NumberOfMeals
                </h6>
                <h5>
                    Total Price of Stay
                </h5>
                <h6>
                    $@ViewBag.TotalRestaurantBudget
                </h6>
                <h5>
                    Adjusted Budget
                </h5>
                <h6>
                    $@ViewBag.AdjustedRestaurantTotalBudget
                </h6>
            }
            <form action="../Database/SaveRestaurantOption">
                <input type="submit" value="Save Restaurant" class="budget" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h5></h5>
            <h5></h5>
        </div>
        <div class="col-sm-2">
            <h5></h5>
            <h5></h5>
        </div>
        <div class="col-sm-2" align="right">
            <h5>Total Budget: </h5>
            <h5>Total Spent on Hotels:</h5>
            <h5>Hotel & Restaurant Total: </h5>
            <h5>Budget Remaining: </h5>
        </div>
        <div class="col-sm-2">
            <h5>$@ViewBag.currentTrip.Price</h5>
            <h5>$@ViewBag.HotelBudget</h5>
            <h5>$@ViewBag.totalDeductedBudget</h5>
            <h5>$@ViewBag.remainingBudget</h5>
        </div>
        <div class="col-sm-2" align="right">
            <h5>Total Budget: </h5>
            <h5>Total Spent on Meals: </h5>
            <h5>Hotel & Restaurant Total: </h5>
            <h5>Budget Remaining: </h5>
        </div>
        <div class="col-sm-2">
            <h5>$@ViewBag.currentTrip.Price</h5>
            <h5>$@ViewBag.RestaurantBudget</h5>
            <h5>$@ViewBag.totalDeductedBudget</h5>
            <h5>$@ViewBag.remainingBudget</h5>
        </div>
    </div>
    <br /><br />
    <form action="../Home/TripSummary" align="center">
        <input type="submit" value="Trip Summary" class="budget" />
    </form>


