
@{
    ViewBag.Title = "UpdateUserTrip";
}
@using PlanItGirls.Models
@model PlanItGirls.Models.Trip


<h2>Update your Trip</h2>
<script src="http://www.datejs.com/build/date.js" type="text/javascript"></script>
<script src="~/Scripts/validation.js" async></script>

<div class="form-control-sm">
    <form action="/Database/SaveUpdateUserTrip" method="post">
        Trip Name: <input type="text" value="@Model.TripID" name="TripID" class="form-control" />
        <br /><br />
        Start Date: <input type="date" value="@Model.StartDate" name="StartDate" class="form-control" />
        Current Start Date = @Model.StartDate.ToShortDateString()
        <br /><br />
        End Date: <input type="date" value="@Model.EndDate" name="EndDate" class="form-control" />
        Current End Date = @Model.EndDate.ToShortDateString()
        <br /><br />
        Start City: <input type="text" value="@Model.StartCity" name="StartCity" class="form-control" />
        @Html.DropDownList("StartState", new SelectList(Enum.GetValues(typeof(States))), Model.StartState)
        <br /><br />
        End City: <input type="text" value="@Model.EndCity" name="EndCity" class="form-control" />
        @Html.DropDownList("EndState", new SelectList(Enum.GetValues(typeof(States))), Model.EndState)
        <br /><br />

        Budget:
        <input type="number" value="@Model.Price" name="Price" class="form-control" /><br />
        <input type="submit" value="Save Trip Edits" class="budget" />

    </form>
    <form action="/Database/TripList" method="get" class="form-check-inline">
        <input type="submit" value="See Trips" class="btn-info" />
    </form>
</div>

<h5>@ViewBag.ErrorMessage</h5>


<script>
    let today = new Date().toISOString().substr(0, 10);
    document.querySelector("#StartDate").value = today;

    let t = new Date();

    t.setDate(t.getDate() + 1);

    document.querySelector("#EndDate").value = t.toISOString().substr(0, 10);

</script>




